/* body alignment and background settings */
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("images/blackjack2.jpg");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold; 
    color: gold;
}
/*Styling our message text */
#message-el {
    font-style: italic;
    color: white;
}
/* Font color settings for the card, sum and player message */
#cards-el, #sum-el, #player-el {
    color: white;
}
/* Button configurations */
button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}